*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #220880;
    display: flex;
    
}

h1{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 1em;
    color: #f0f0f0;
    text-shadow: 3px 3px #000;
}

.conteudo{
    margin: auto;
    padding: 2em 10em 2em 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;  
}

iframe{
    border: solid 3px #f0f0f0;
    border-radius: 5px 5px 5px;
}