@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2D399, #D9AB73 )
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #66472ca4 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #26528C;
    text-align: center;
    text-shadow: 1px 1px 2px #142d4d9f;
}

h2{
    color: #3C92A6;
}

p{
    text-align: justify;
}

