*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #220880;
    display: flex;
    
}

h1{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 1em;
    color: #f0f0f0;
    text-shadow: 3px 3px #000;
}

.conteudo{
    margin: 2em;
    padding: 2em 10em 2em 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;  
}

iframe{
    border: solid 3px #f0f0f0;
    border-radius: 5px 5px 5px;
}
.corpo{
    width: 100%;
    margin: 0.5m 1em 0.5m 1em;
    padding: 1em 2em 1em 2em;
}

 .trumb{
    margin: 0.2em;
    border: 3px solid #493981;
    border-radius: 5px 5px 5px;
    box-shadow: 5px 3px 3px #493981;
    cursor: pointer;
    transition: background-color 0.3;
}
.trumb:hover{
    transform: translateY(-5px)scale(1.02);
    box-shadow: 2px 3px 8px #96b81d;
}

h2{
    margin: 0.5em 5em 0.5em 5em;
    padding: 1em;
    color: #f0f0f0;
    text-shadow: 2px 2px #000;
    transition: 0.3;
}

.completo :hover{
    transform: translateY(-5px)scale(1.02);
}

.btn-voltar {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
}

.btn-voltar img {
    width: 30px;
}

.btn-voltar:hover {
    transform: translateY(-4px)scale(1.02);
    background: #290b97;
}

.voltar img{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }

h3{
    margin: 0.5em 3em 0.5em 3em;
    padding: 1em;
    color: #f0f0f0;
    text-shadow: 2px 2px #000;
    transition: 0.3;
}
