*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: lightgray;
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border: 10px solid darkslategray;
    padding: 10px 10px 10px 40px;
    outline: 5px dashed  lightgreen;
}

a{
    border: 5px solid red;
    border-radius: 3px 3px 3px;
}
p{
    text-indent: 20px;
}