*{
    margin: 0.3em;
    padding: 0;
}
body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: lightcyan;
            color: blue;
            text-align: justify;
        }

        h1{
            color: green;
        }