@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Passion+One:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}
/* USANDO max e min-width e height É POSSÍVEL CONTROLAR COMO A PÁGINA VAI REAGIR SEM PERDER A QUALIDADE ME DANDO RESPONSIVIDADE*/
body{
    display: block;
    max-width: 100%;
    min-width: 320px;
}

header {
    display: block;
    background-color: black;
    min-height: 30vh;
}

header h1 {
    font-family: passion one, cursive;
    font-size: 10vw;
    color: white;
    text-align: center;
    padding-top: 50px;
    
}

header p {
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.2em;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

div.normal {
    padding: 70px 0px 70px 20px;
}

main {
    
}

.normal p {
    display: inline-block;
    font-family: Gloria Hallelujah;
    font-size: 3.5vw;
    line-height: 2em;
    font-weight: bold;
    padding-bottom: 45px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.318);
}

/*OPTEI POR NÃO USAR SHORTHANDS PARA ENTENDIMENTO PESSOA SOBRE O QUE CADA SELETOR E PROPRIEDADE ESTAVA MANIPULANDO */
.estrofe2{
    display: inline-block;
    font-family: Gloria Hallelujah;
    font-size: 3.5vw;
    line-height: 2em;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(10px);
    padding: 5px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
}

div.img {
    color: white;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0px 70px 20px;
    width: 100%;

    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.39);
}

div.img2 {
    color: white;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    padding-left: 40px;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0px 70px 20px;
    width: 100%;

    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.39);
}

footer {
    font-family: cursive;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 30px ;
    padding: 15px;
}

footer a {
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.408), rgba(0, 0, 255, 0.442), rgba(0, 128, 0, 0.488), transparent);
    font-weight: bold;
    color: white;
}

footer a:hover {
    text-shadow: 2px 2px 2px black;
    font-size: 1.1em;
    text-decoration: underline;
    transition: 0.3s;
}

footer abbr {
    text-decoration: none;
}

